.pinContainer {
    display: flex;
    position: relative;
    flex-direction: column;
}

.pinImage {
    max-width: 100%;
    cursor: pointer;
}

.pinComment {
    padding-top: 8px;
    text-align: center;
    font-style: italic;
}